/*VARIABLES*/
:root{
    --fuente-principal: 'News Cycle', sans-serif;
    --coloPrincipal: #BA337A;
    --colorUno: #A3BD31 ;                             
    --colorDos: #F1E8AC;
    --blanco: #fff;
    --negro: #000;
    --gris: rgba(182, 182, 182);
}
/*GLOBALES*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-size: 62.5%;
    background-color: var(--blanco);
    font-family: var(--fuente-principal);
    font-size: 1.4rem;
    
}
a{
    text-decoration: none; 
}
h1{
    font-weight: 700;
    font-size: 2.5rem;       
}
h2{
    font-weight: 700;
    font-size: 2rem;       
}
h3{
    font-weight: 700;
    font-size: 1.5rem;
}
.logo{
    display: flex;
    justify-content: center;
    
}
.logo img{
    width: 85%;
}
.icono{
    color: var(--blanco);
    font-size: 1.8rem;
    
}

.cerrar-icono{
    font-size: 2rem;
     
}
.centrar{
    display: flex;
    justify-content: center;
}
.bg-primario{
    background-color: var(--coloPrincipal);
}
.boton-primario, .boton-primario:visited, .boton-primario:active{
    background-color: var(--colorUno);
    border: var(--colorUno) solid 1px;
}

.boton-primario:hover{
    background-color: var(--coloPrincipal);
    border: var(--coloPrincipal);
    transform: scale(1.3,1.3);
    transition: .8s;
}


/*NAVEGACION*/

.navegacion{
    background-color: var(--coloPrincipal);
    padding: 1rem;
    display: flex;
    justify-content: space-between;  
    
}
.navegacion-inferior{
    background-color: var(--coloPrincipal);
    padding: 1rem;
    display: flex;

}
.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 2rem;
}
.nav-enlace{
    color: var(--blanco);
    padding: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.8rem;
    
}
.nav-enlace:hover{
    font-weight: 700;
    color: var(--negro);
    transition: .5s;
}
.social-media a{
    padding: 2rem;
}
/*INICIO*/
.hero-img{
    width: 100%;
    height: 70vh;
    object-fit: cover;
    
}
.producto{
    position: relative;
}
.detalle{
    font-size: 1rem;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 62%;
    opacity: 0%;
    transition: 0.5s;
}
.detalle:hover{
    transition: 0.5s;
    opacity: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}
.detalle a{
    background-color: var(--coloPrincipal);
    padding: 0.25rem 1rem;
    font-weight: 700;
    color: var(--blanco);
}

.producto__imagen img{
    width: 100%;
}


.producto__detalle{
    font-size: 1.2rem;
    text-align: center;
}
.producto__precio{
    font-size: 1rem;
    text-align: center;
    color: var(--coloPrincipal);
    font-weight: 700;
}
.producto__carrito input{
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.5rem;
    text-align: center;
}
.producto__carrito button{
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.8rem;
    text-align: center;
    border: none;
    background-color: var(--colorUno);
    color: var(--blanco);
    cursor: pointer;
}
.producto__carrito button:hover{
    transform: scale(1.1,1.1);
    background-color: var(--coloPrincipal);
    transition: 1s;
}
.galeria{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    border-bottom: solid 8px var(--gris);
    margin-bottom: 20px;
}
.galeria img{
    width: 100%;
}
.personalizar-animacion{
    background-image: url(../img/bg-animation.jpg);    
    height: 50vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    text-align: center;
}
.personalizar-animacion h2::before{
    content: '';
    animation: cambiarTexto 10s linear infinite;
    color: var(--coloPrincipal);
}
@keyframes cambiarTexto{
    0%{
        content: '"CREAMOS A TU PERSONAJE"';
        color: var(--coloPrincipal)
    }
    25%{
        content: '1.- Elige tu personaje';
        color: var(--colorUno)
    }
    50%{
        content: '2.- Envia tu foto';
        color: var(--coloPrincipal)
    }
    75%{
        content: '3.- Agendamos tu pedido';
        color: var(--colorUno)
    }
    100%{
        content: '4.- Entrega de la piñata';
        color: var(--coloPrincipal)
    }
}

.footerInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    text-align: center;
}
.direccion, .horarios{
    font-size: 1.4rem;
}
.mapa iframe{
    width: 100%;
}
/*NOSOTROS*/

.nosotros__contenido{
    text-align: justify;
    font-size: 1.2rem;
}
.nosotros__imagen img{
    width: 100%;

}

/*RESPONSIVE*/
@media (max-width: 768px){
    /*INICIO*/
    .tienda-incio{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        
    }
    .footerInfo{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        justify-content: center;     
    }
    .direccion, .horarios{
        font-size: 1rem;
        text-align: center;
    }
   
    
}
@media (max-width: 425px){
    /*INICIO*/
    .menu{
        display: flex;
        flex-direction: column;
        list-style: none;
    }
    .social-media a {
        padding: 1rem;
    }

    .footerInfo{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        
    }
    /*NOSOTROS*/

}


