<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chaparrones</title>
</head>
<body>
    <header>
        <div>
            <a href="../index.html"> <img src="../img/logo.png" alt="logo.png"></a>
        </div>
        <nav><!--Navegación Superior-->
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="./nosotros.html">Nosotros</a></li>
                <li><a href="./blog.html">Blog</a></li>
                <li><a href="./tienda.html">Tienda</a></li>
                <li><a href="./contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <h1>Blog de publicaciones</h1>
    <main>
        <div><!--Contenedor Publicaciones-->
            <div><!--Publicacion-->
                <a href="#">
                    <div>
                        <p>Publicacion 1</p>
                        <p>Esto es una breve explicación acerca de la publicacion</p>
                    </div>
                </a>
            </div>
            <div><!--Publicacion-->
                <a href="#">
                    <div>
                        <p>Publicacion 1</p>
                        <p>Esto es una breve explicación acerca de la publicacion</p>
                    </div>
                </a>
            </div>
            <div><!--Publicacion-->
                <a href="#">
                    <div>
                        <p>Publicacion 1</p>
                        <p>Esto es una breve explicación acerca de la publicacion</p>
                    </div>
                </a>
            </div>
        </div>
    </main>
    
    <footer>
        <p>Derechos Reservados <span>2022</span></p>
        <nav><!--Navegación Inferior-->
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="./nosotros.html">Nosotros</a></li>
                <li><a href="./blog.html">Blog</a></li>
                <li><a href="./tienda.html">Tienda</a></li>
                <li><a href="./contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </footer>
    
</body>
</html>