<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chaparrones</title>
</head>
<body>
    <header>
        <div>
            <a href="../index.html"> <img src="../img/logo.png" alt="logo.png"></a>
        </div>
        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="./galeria.html">Galería</a></li>
                <li><a href="./experiencias.html">Experiencias</a></li>
                <li><a href="./tienda.html">Tienda</a></li>
                <li><a href="./contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <h1>Galería</h1>
    <main>
        <div><!--Contendor Galeria-->
            <div><!--Imagen-->
                <img src="../img/img1.jpeg" alt="imagen1">
            </div>
            <div><!--Imagen-->
                <img src="../img/img2.jpeg" alt="imagen2">
            </div>
            <div><!--Imagen-->
                <img src="../img/img3.jpeg" alt="imagen3">
            </div>
            <div><!--Imagen-->
                <img src="../img/img4.jpeg" alt="imagen4">
            </div>
            <div><!--Imagen-->
                <img src="../img/img5.jpeg" alt="imagen4">
            </div>
            <div><!--Imagen-->
                <img src="../img/img6.jpeg" alt="imagen4">
            </div>
            <div><!--Imagen-->
                <img src="../img/img7.jpeg" alt="imagen4">
            </div>
            <div><!--Imagen-->
                <img src="../img/img8.jpeg" alt="imagen4">
            </div>

            
           
            </div>


        </div>
    </main>
    
    <footer>
        <p>Derechos Reservados <span>2022</span></p>
        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="./galeria.html">Galería</a></li>
                <li><a href="./experiencias.html">Experiencias</a></li>
                <li><a href="./tienda.html">Tienda</a></li>
                <li><a href="./contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </footer>
    
</body>
</html>