<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chaparrones</title>
</head>
<body>
    <header>
        <div>
            <a href="../index.html"> <img src="../img/logo.png" alt="logo.png"></a>
        </div>
        <nav><!--Navegación Superior-->
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="./nosotros.html">Nosotros</a></li>
                <li><a href="./blog.html">Blog</a></li>
                <li><a href="./tienda.html">Tienda</a></li>
                <li><a href="./contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <h1>Tienda</h1>
    <main>
        <div><!--Contenedor de productos-->
            <div><!--Producto-->
                <a href="#">
                    <img src="../img/img9.jpeg" alt="producto.png">
                    <div>
                        <p>Piñata: <span>"Venom"</span></p>
                        <p>$350.00</p>
                    </div>
                </a>
            </div>
            <div><!--Producto-->
                <a href="#">
                    <img src="../img/img12.jpeg" alt="producto.png">
                    <div>
                        <p>Piñata: <span>"Sally"</span></p>
                        <p>$350.00</p>
                    </div>
                </a>
            </div>
            <div><!--Producto-->
                <a href="#">
                    <img src="../img/img13.jpeg" alt="producto.png">
                    <div>
                        <p>Piñata: <span>"Jack"</span></p>
                        <p>$350.00</p>
                    </div>
                </a>
            </div>
            <div><!--Producto-->
                <a href="#">
                    <img src="../img/img8.jpeg" alt="producto.png">
                    <div>
                        <p>Piñata: <span>"Tinkerbell"</span></p>
                        <p>$350.00</p>
                    </div>
                </a>
            </div>
        </div><!--Termina sección de productos-->
    </main>
    
    <footer>
        <p>Derechos Reservados <span>2022</span></p>
        <nav><!--Navegación Inferior-->
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="./nosotros.html">Nosotros</a></li>
                <li><a href="./blog.html">Blog</a></li>
                <li><a href="./tienda.html">Tienda</a></li>
                <li><a href="./contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </footer>
    
</body>
</html>