<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./img/favicon.ico">
    <title>Chaparrones</title>
    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=News+Cycle:wght@400;700&display=swap" rel="stylesheet">
    <!--FontAwesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <!--Estilos personales-->
    <link rel="stylesheet" href="../css/estilos.css">
</head>
<body>
    <header>
        <div class="logo" id="logo">   
            <a href="../index.html"> <img src="../img/logo.png" alt="logo.png"></a>
        </div>
        <nav class="navegacion">
            <a data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
                <i class="fa fa-bars icono"></i> 
            </a>
            <div class="social-media">
                <a href="#"><i class="fab fa-facebook-f icono"></i></a>
                <a href="#"><i class="fab fa-instagram icono"></i></a>
                <a href="·"><i class="fab fa-pinterest-p icono"></i></a>
 
            </div>
        </nav>    
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
              <div class="offcanvas-header bg-primario centrar ">              
                <button type="button" class="btn-close text-reset cerrar-icono" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="offcanvas-body bg-primario">
                <div>
                  <ul class="menu p-0 mt-5">               
                      <li><a class="nav-enlace" href="../index.html">Inicio</a></li>
                      <li><a class="nav-enlace" href="./nosotros.html">Nosotros</a></li>
                      <li><a class="nav-enlace" href="./tienda.html">Tienda</a></li>
                      <li><a class="nav-enlace" href="./blog.html">Blog</a></li>
                      <li><a class="nav-enlace" href=".contacto.html">Contacto</a></li>
                  </ul>                
                </div>
              </div>
            </div>
        </div>                  
    </header>
    <section>
        
        <div class="container">
            <div class="row">
                <div class="col-md-12 tienda align-items-center">
                    <h1 class="text-center">Cotiza tu chaparrón</h1>
                    <p>Entregas disponibles solo en el estado de Oaxaca</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mt-4 instrucciones">
                    <p>1.- Proporcionanos tu nombre y numero telefónico.</p>
                    <p>2.- Rellena la informacion para entregar al Chaparrón.</p>
                    <p>3.- Selecciona la imagen del personaje a Chaparronear.</p>
                    <p>4.- Da click en realizar pedido para agendarlo. (1 Semana de anticipación)</p>
                    <p>5.- Te enviaremos un mensaje Via WhatsApp para confirmar el pedido.</p>
                    <p>6.- Te entregaremos personalmente a tu Chaparrón</p>           
                </div>
                <div class="col-md-6 mt-4 formulario">
                    <form action="" class="formulario-personalizadas">
                        <input type="text" placeholder="Nombre">
                        <input type="tel" placeholder="Numero telefónico" class="mt-3">
                        <input type="file" id="ejemplo_archivo_1" class="mt-3">
                        <button type="submit">Enviar</button>
                    </form>
                </div>
            </div>
        </div>
    </section>      
    <footer>
        <div class="footerInfo">
            <div class="direccion">
                <h4>Dirección</h4>
                <p>Eucaliptos 4</p>
                <p>Sección el Polvorin</p>
                <p>71236 San Antonio de la Cal, Oax.</p>
            </div>
            <div class="horarios">
                <h4>Horarios</h4>
                <p>Lun-Vie: 8am - 10pm</p>
                <p>Sábados: 9am - 9pm</p>
                <p>Domingos: 9am - 7pm</p>    
            </div>        
            <div class="mapa">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7630.140944781682!2d-96.703732!3d17.020213!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85c7231e806cae47%3A0x95bcc5259ebb7f0f!2sEucaliptos%204%2C%20Secc%20el%20Polvorin%2C%2071236%20San%20Antonio%20de%20la%20Cal%2C%20Oax.!5e0!3m2!1ses-419!2smx!4v1645072188292!5m2!1ses-419!2smx" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
        <nav class="navegacion">
            <a href="#logo"><i class="fas fa-arrow-up icono"></i></a>
            <div class="social-media">
                <a href="#"><i class="fab fa-facebook-f icono"></i></a>
                <a href="#"><i class="fab fa-instagram icono"></i></a>
                <a href="·"><i class="fab fa-pinterest-p icono"></i></a>

            </div>
        </nav>
                 
    </footer>
    
</body>
</html>