* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-size: 62.5%;
    background-color: var(--blanco);
    font-family: var(--fuente-principal);
    font-size: 1.4rem;
    
}
a{
    text-decoration: none; 
}