$colorPrincipal:#BA337A;
$colorSecundario: #A3BD31;
$blanco: #fff;
$negro: #000;
$gris: rgb(201, 201, 201);
$fuentePrincipal: 'News Cycle', sans-serif;
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-size: 62.5%;
    background-color: $blanco;
    font-family: $fuentePrincipal;
    font-size: 1.4rem;
    
}
a{
    text-decoration: none; 
}